/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 142
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 30px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.navbar.scrolled {
  background-color: #61666b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-img {
  height: 18px;
  width: 100%;
}

/* 2nd part */
.nav-links {
  display: flex;

  list-style: none;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}
.nav-links li {
  position: relative;
}
/* dropdown-menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.823);
  padding: 1rem 1.5rem;
  list-style: none;
  z-index: 999;
  min-width: 250px;
  text-align: left;
}

.dropdown-menu li {
  margin-bottom: 10px;
}
.dropdown-menu li a {
  color: white;
  text-decoration: none;
  font-size: 14px;

  transition: color 0.2 ease;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

.dropdown-menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #a2b742;
  transition: width 0.4s ease-in-out;
  margin-top: 10px;
}
.dropdown-menu li a:hover::after {
  width: 100%;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:active {
  color: #a2b742;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  margin: 0 5px;
}
.nav-links a:hover {
  color: #a2b742;
}
ion-icon {
  color: #a2b742;
  font-size: 12px;
  padding-left: 5px;
}

/* Third part */

.btn-grey {
  background-color: #c5c5c5;
  transition: background-color 0.5s ease-in-out;
}
.nav-contact {
  display: flex;
  gap: 20px;
}
.contact-info {
  display: flex;
  gap: 15px;
}
.phone-link:hover {
  color: #a2b742;
}
.nav-buttons {
  display: flex;
  gap: 1rem;
}

.contact-item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.contact-item a {
  display: flex;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.btn {
  text-decoration: none;
  color: rgb(49, 49, 49);

  padding: 4px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}
.btn-grey:hover,
.btn-grey:active {
  background-color: rgb(117, 131, 88);
}

.btn-green:link,
.btn-green:visited {
  background-color: #a2b742;
  transition: background-color 0.5s ease-in;
}
.btn-green:hover,
.btn-green:active {
  background-color: rgb(117, 131, 88);
}

@media (max-width: 1242px) {
  .nav-links {
    gap: 10px;
  }
  .nav-contact {
    gap: 10px;
  }
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 1001;
  transition: trasnform 0.3s ease;
}
.menu-toggle ion-icon {
  width: 40px;
  height: 40px;
  font-size: 30px;
  transition: transform 0.4s ease;
  will-change: transform;
  display: inline-block;
}

/* Animate on toggle */
.menu-toggle.open ion-icon {
  transform: translate3d(0, 0, 0) rotate(90deg);
}

.menu-overlay-grad {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.3),
    transparent 60%
  );
  z-index: 0;
  pointer-events: none;
  display: none;
}

.mobile-menu-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 80vw;
  max-width: 400px;
  background-color: #61666b;
  transform: translateY(100%);

  z-index: 1000;
  padding: 32px 24px;
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  gap: 16px;
}
.mobile-menu-panel.show {
  transform: translateY(0);
}

.mobile-dropdown-menu {
  display: none;
}

/* Mobile nav links */
.nav-links.mobile {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}
/* mobile nav contacts */
.nav-contact.mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav-contact.mobile .contact-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.nav-contact.mobile .contact-item a {
  display: inline-block;
  color: white;
  font-size: 16px;
}
.mobile-dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  padding-left: 1rem;
  display: block;
}
.mobile-dropdown-menu.open {
  max-height: 500px;
}

.mobile-dropdown-menu li {
  list-style: none;
  padding: 10px 0;
}
.nav-contact.mobile li.active > a ion-icon {
  display: none;
}
@media (max-width: 1191px) {
  .nav-links,
  .nav-contact {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  .menu-overlay-grad {
    display: block;
  }
}
/* Tablets and below */
@media (max-width: 991px) {
  /* adjust layout, stack elements, resize text */
}
/* Phones (landscape) and below */
@media (max-width: 767px) {
  /* make input full width, smaller padding/margin */
  .logo-img {
    height: 16px;
  }
  .navbar {
    padding: 20px 25px;
  }
  .mobile-menu-panel {
    height: 100%;
    width: 100vw;
  }
}

/* Small phones (portrait) */
@media (max-width: 480px) {
  /* smallest font sizes, hide extra icons/images */
}
